.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    min-height: 150px;
    width: 100%;
}


/*untuk layar device berukuran kecil*/

@media screen and (min-width: 450px) {
    .light_blue,
    .green {
        width: 50%
    }
}


/*untuk layar device berukuran sedang*/

@media screen and (min-width: 550px) {
    .red {
        width: 33%;
    }
    .orange {
        width: 67%;
    }
}


/*untuk layar device berukuran besar*/

@media screen and (min-width: 800px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.desktop___1_41_8 {
    background-image: linear-gradient(0deg, rgba(170.7924449443817, 221.0626682639122, 236.93750202655792, 1) 0%, rgba(15.605473816394806, 193.5077628493309, 249.6875050663948, 1) 0.009999999747378752%, rgba(15.605473816394806, 193.5077628493309, 249.6875050663948, 1) 99.94999170303345%, rgba(170.7924449443817, 221.0626682639122, 236.93750202655792, 1) 99.95999336242676%, rgba(170.7924449443817, 221.0626682639122, 236.93750202655792, 1) 99.96999502182007%, rgba(154.57655668258667, 218.1833803653717, 238.26978653669357, 1) 99.97999668121338%, rgba(170.7924449443817, 221.0626682639122, 236.93750202655792, 1) 99.98999834060669%, rgba(29.91380363702774, 143.09112578630447, 247.56250709295273, 1) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 0px solid rgba(0, 0, 0, 1);
    backdrop-filter: blur(5px);
}

.vector_57_24 {
    width: 100%;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 280px;
}

.rectangle_1_57_19 {
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.07503275382371088deg);
    width: 500px;
    height: 500px;
    position: absolute;
    margin-left: 580px;
    margin-bottom: 0px;
    margin-top: 50px;
    background-image: url(images/rectangle_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.rectangle_2_57_28 {
    background-color: rgba(249.6875050663948, 255, 255, 1);
    width: 550px;
    height: 450px;
    position: absolute;
    left: 260px;
    top: 110px;
    border-radius: 25px;
    border: 4px solid rgba(0, 114.36749428510666, 219.93750303983688, 1);
}

.kisspng_qr_code_barcode_scanner_coder_5abc6dd94682a7_1_57_27 {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 325px;
    top: 110px;
    background-image: url(images/kisspng_qr_code_barcode_scanner_coder_5abc6dd94682a7_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.vector_57_23 {
    width: 100%;
    height: 115px;
    position: absolute;
    left: 0px;
    top: 320px;
}

.rectangle_3_58_34 {
    background-color: rgba(255, 255, 255, 1);
    width: 82px;
    height: 62px;
    position: absolute;
    left: 1100px;
    top: 250px;
}

.kisspng_qr_code_barcode_mobile_phones_image_scanner_scanner_5acca8507b7537_1_58_33 {
    width: 95px;
    height: 95px;
    position: absolute;
    left: 1090px;
    top: 240px;
    background-image: url(images/kisspng_qr_code_barcode_mobile_phones_image_scanner_scanner_5acca8507b7537_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo_1_1_58_35 {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-image: url(images/logo_1_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.puri_bunda_58_37 {
    color: rgba(0, 0, 0, 1);
    width: 199px;
    height: 48px;
    position: absolute;
    left: 55px;
    top: 20px;
    font-family: Bebas Neue;
    text-align: center;
    font-size: 35px;
    letter-spacing: 0;
}

.rumah_sakit_ibu_dan_anak_58_38 {
    color: rgba(0, 0, 0, 1);
    width: 284px;
    height: 24px;
    position: absolute;
    left: 55px;
    top: 50px;
    font-family: Kanit;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}

.scan_me_72_6 {
    color: rgb(0, 0, 0);
    width: 197px;
    height: 54px;
    position: absolute;
    left: 640px;
    top: 80px;
    font-family: Roboto;
    text-align: inherit;
    font-size: 25px;
    letter-spacing: 0;
}