*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    font-size: 20px;
}
body {
    margin-top: 180px;
    background-color: rgb(94, 125, 151);
    text-align: left;
}

form{
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 60px 80px;
    width: 300px;
}

input[type="text"]{
    width: 100%;
    
}
input[name="status"]{
    width: 20px;
}

h1{
    font-family: cursive;
    text-align: center;
    font-size: 35px;
}

h5{
    margin-top: 10px;
}
