*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    font-size: 20px;
}
body {
    margin-top: 180px;
    background-color: rgb(94, 125, 151);
    text-align: center;
    font-size: 30px;
    color: white;
}
